body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
   
h2, h3 {
    color: #00a2c6;
  }


footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
  }

nav {
    background-color: #00a2c6;
    padding: 5px;
  }

nav li{
    display: inline-block;
    margin: 0 10px;
  }


nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.2s ease in-out;
  }

nav a:hover {
    font-weight: bold;
    color: white;
    border-radius: 5px;
  }

.profile header {
    text-align: center;
  }

.tableInformation {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tableInformation th, .tableInformation td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tableInformation th {
    background-color: #00a2c6;
    color: white;;
  }
  
  .tableInformation tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tableInformation tr:hover {
    background-color: #ddd;
  }

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 200px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

main {
  padding: 20px;
  background-color: #f4f4f4;
}